      <div class="homepage-taxon-box">
        <%= link_to spree.nested_taxons_path('sportswear') do %>
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/category_banner_lower.jpg') %>"
            data-srcset="<%= image_source_set('homepage/category_banner_lower') %>"
            alt="<%= Spree.t('homepage.sportswear')%>" />

          <div class="homepage-taxon-box-text" role="img" aria-label="<%= Spree.t('homepage.sportswear') %>">
            <h3><%= Spree.t('homepage.sportswear') %></h3>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-6 d-flex flex-column">
        <div class="homepage-taxon-box flex-grow-1">
            <%= link_to spree.nested_taxons_path('women') do %>
              <img class="w-100 lazyload"
                data-src="<%= asset_path('homepage/big_category_banner.jpg') %>"
                data-srcset="<%= image_source_set('homepage/big_category_banner') %>"
                alt="<%= Spree.t('homepage.women')%>" />

              <div class="homepage-taxon-box-text">
                <h3><%= Spree.t('homepage.women') %></h3>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>